footer {
    margin-top: 300px;
    margin-bottom: 10px;
}

button {
    margin-left: 10px;
}

.booksLogo {
    margin-top: 150px;
 }

 .hasError {
     color: red;
 }

 .results {
     margin-top: 50px;
     margin-left: 50px;
     margin-right: 50px;
 }